<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128635349330-s8srpsgjfh4iqbtqc149ltq4notv49tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128635349330-s8srpsgjfh4iqbtqc149ltq4notv49tm</string>
	<key>API_KEY</key>
	<string>AIzaSyAW6EYkOdsSHF3o0i-r0hJqHb-ntwBpqNY</string>
	<key>GCM_SENDER_ID</key>
	<string>128635349330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mySwift.TwitchTest</string>
	<key>PROJECT_ID</key>
	<string>unboxtest-90e32</string>
	<key>STORAGE_BUCKET</key>
	<string>unboxtest-90e32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128635349330:ios:1eb535d789e83d12</string>
	<key>DATABASE_URL</key>
	<string>https://unboxtest-90e32.firebaseio.com</string>
</dict>
</plist>